.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
   background: linear-gradient(to bottom right, #6e0e8b, #ff69b4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;

}
.navbar-bran {
  font-weight: bold;
  width:100%;

}

.navbar-link {
  color: #333;
  text-decoration: none;
    padding: 5px 10px;
}

.navbar-link:hover {
  color: #666;
}

 /* styles for mobile devices */
@media only screen and (max-width: 767px) {
 .navbar-link {
  margin-right: 5vw;
}
}

